.titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.btns {
  border: 1px solid green;
}

.cate {
  margin: 5px 0;
}

h1 {
  display: inline-block;
}

.mainSection {
  width: 100%;
  display: flex;
}

.mainLeft {
  width: 65%;
  margin: 0 20px 0 0;
}

.mainRight {
  width: 35%;
}

img {
  border-radius: 10px;
}

.mainLeft > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.ingredients > * {
  padding-top: 20px;
}

.ingredients > input {
  margin: 10px 0;
}

.calorieInfo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1;
  gap: 10px;
  box-shadow: 1px 1px 4px var(--dark2-color);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.calItem:nth-child(1) {
  grid-column: 1/3;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 0;
}

.calValue {
  text-align: right;
}

.recipeTip,
.recipeTag {
  margin-top: 30px;
}

.fa-solid {
  color: var(--main-color);
}

.recipeTip {
  background-color: var(--main3-color);
  padding: 20px;
  border-radius: 10px;
}

.recipeTip > p,
.recipeTag > p {
  margin-top: 20px;
}

.recipeTag > p {
  color: var(--dark3-color);
  font-weight: 100;
  font-size: 0.8rem;
}

h3 {
  margin: 40px 0 20px 0;
}

.step {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.step > img {
  width: 400px;
  height: 250px;
  margin: 0 10px 0 0;
}

.idx,
.explain {
  margin: 0 10px;
}

.idx {
  background-color: var(--main-color);
  color: var(--light-color);
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  border: 2px solid var(--main-color);
}

#toListBtn {
  float: right;
}

.toList {
  height: 80px;
}
