.banner {
  background-color: var(--banner-color);
  margin-top: 20px;
  height: 150px;
}

.banner {
  background-image: url("../img/bannersmall.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.search {
  width: 50%;
  border: 1px solid var(--dark2-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  margin: auto;
  box-shadow: 1px 1px 1px var(--dark2-color);
}

#inputSearch {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

#count {
  color: var(--main-color);
  font-weight: 800;
}

.categoryList {
  width: 60%;
  margin: auto;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  width: 100px;
  height: 100px;
  border: 3px solid var(--main-color);
  background-color: var(--light-color);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 50%;
}

.cateOn {
  background-color: var(--main3-color);
}

.category:hover {
  background-color: var(--main3-color);
}

.category > p {
  position: absolute;
  bottom: 0;
  width: calc(100% - 6px);
  text-align: center;
  font-size: 1rem;
  margin: 5px;
}

#category1 {
  background-image: url("../img/category1.svg");
}
#category2 {
  background-image: url("../img/category2.svg");
}
#category3 {
  background-image: url("../img/category3.svg");
}
#category4 {
  background-image: url("../img/category4.svg");
}
#category5 {
  background-image: url("../img/category5.svg");
}
#category6 {
  background-image: url("../img/category6.svg");
}

#category7 {
  background-image: url("../img/other.svg");
}
.recipeCount > p {
  display: block;
}

.recipeCount {
  display: flex;
  height: 20px;
}

.mainSec {
  position: relative;
}

.cardListCon {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 350px;
}

.card > img {
  width: 100%;
  height: 60%;
}
.card > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px;
}

.more {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
}

.card > div {
  margin: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* pagination */
.pageCon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.25em;
  margin: 20px;
}

.pageCon button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--dark2-color);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  outline: none;
}

.pageCon button:hover {
  background-color: var(--main3-color);
}

.pageCon button.on {
  background-color: var(--main2-color);
}
